extends layout

block content
  b  Server:
  |  #{server}
  if user
    b  User :
    label#user  #{user.username}
    a(href='/logout')#logout  Log Out
  #channel.bordered
    #msgs
      h4  Server: #{server}
      ul
        li.message
          span.user
          span.message
          span.time
        li.control
          span.user
          span.message
          span.time
    #input
      form
        input(type="text")#message
